{% extends 'base.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block body %}

	<div class="card mb-3">
		<div class="card-body">

			<h2>{{ post.title }}</h2>

			<span class="badge bg-secondary">{{ post.category.name }}</span>

			<p class="lead">Créé par
				{{ post.author }}
				le
				{{ post.createdAt|date('d/m/Y') }}</p>

			<img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid rounded">

			<p class="lead">{{ post.content }}</p>

		</div>
	</div>

	{% if post.comments|length == 0 %}
		<p>Soyez le premier à commenter cet article!</p>
	{%  else %}
		<ul>
			{% for comment in post.comments %}
				<div class="card mb-3">
					<div class="card-body">
						<h4 class="card-title">Ajouté par
							{{ comment.user.firstname }} {{ comment.user.lastname}}
							le
							{{ comment.createdAt|date("d/m/Y", 'Europe/Paris') }}
							à
							{{ comment.createdAt|date("H:m", 'Europe/Paris') }}
						</h4>
						<p class="card-text">{{ comment.content }}</p>
					</div>
				</div>
			{% endfor %}
		</ul>
	{% endif %}

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		<!-- Formulaire d'ajout de commentaire -->
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<input type="submit" value="Envoyer" class="btn btn-primary my-3">
		{{ form_end(form) }}

	{% else %}
		<p>Pour poster un commentaire,
			<a href="{{ path('security.login') }}">
				connectez-vous</a>
			ou
			<a href="#">créez un compte</a>.</p>
	{% endif %}

	<a href=" {{ path('home.index')}}">Retour à l'acceuil
	</a>

{% endblock %}
