<ul class="d-flex">

   {% if is_granted('IS_AUTHENTICATED_FULLY') %}

       <!-- Menu utilisateur mode connecté -->
       <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" 
              href="#" 
              id="dropdown01" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">{{ app.user.firstname }} {{ app.user.lastname }}</a>
           <ul class="dropdown-menu" aria-labelledby="dropdown01">
               <li><a class="dropdown-item" href="#">Mon compte</a></li>
               <li><a class="dropdown-item" 
                      href="{{ path('security.logout') }}">Déconnexion</a></li>
           </ul>
       </li>

   {% else %}

       <!-- Menu utilisateur mode déconnecté -->
       <ul>
       <li class="nav-item">
           <a class="nav-link" href="{{ path('security.login') }}">Connexion</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="{{ path('user.signup')}}">Créer un compte</a>
       </li>
       </ul>

   {% endif %}
</ul>
